<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://getresumecounter20221122183757.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/c28c63dd-158b-4995-a085-570fb033dac7/resourcegroups/azureresume-rg/providers/Microsoft.Web/sites/GetResumeCounter20221122183757</ResourceId>
    <UserName>$GetResumeCounter20221122183757</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://getresumecounter20221122183757.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>